<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add

                connectionString="server= PAVILION_23;database = development; uid= debbylopez12; pwd= debby15;"
  
    name="cs_proyecto" />
            
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>