<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add

                connectionString="workstation id=development0.mssql.somee.com;packet size=4096;user id=debby12;pwd=123456789;data source=development0.mssql.somee.com;persist security info=False;initial catalog=development0
"
  
    name="cs_proyecto" />
            
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>